@model ManufactureHub.Models.WorkstationViewModel

@{
    ViewData["Title"] = "Інформація про цех";
    var teamLeadinfo = ViewBag.TeamLeadUser as ApplicationUser;
}

<div class="container">
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="hstack">
                    <div class="col text-center">
                        <h2 class="fw-bold">@Model.Name</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    @* col-8 *@
                    <div class="card-text">
                        <p>Назва цеху: @Model.Name</p>
                        <p>Опис цеху: @Model.Description</p>
                        <p>TeamLead цеху: @teamLeadinfo.Name @teamLeadinfo.SurName @teamLeadinfo.PatronymicName</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    @if (User.IsInRole("Admin") || User.IsInRole("HeadFacility"))
                    {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id" asp-route-userName="@Model?.Name">Відредагувати</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id" asp-route-userName="@Model?.Name">Видалити цех</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h3>Список секцій</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Ім'я
                                    </th>
                                    <th>
                                        Опис
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Sections)
                                {
                                    <tr>
                                        <td>
                                            <a class="link-opacity-75-hover" asp-area="" asp-controller="Section" asp-action="Details" asp-route-id="@item.Id">
                                                @item.Name
                                            </a>
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        @if (User.IsInRole("Admin") || User.IsInRole("HeadFacility") || User.IsInRole("TeamLeadWorkstation"))
                                        {
                                            <td>
                                                <a class="text-decoration-none" asp-controller="Section" asp-action="Edit" asp-route-id="@item.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="#solar--pen-new-square-bold" /></svg>
                                                </a>
                                                <a class="text-decoration-none" asp-controller="Section" asp-action="Details" asp-route-id="@item.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="#solar--info-circle-bold" /></svg>
                                                </a>
                                                <a class="text-decoration-none" asp-controller="Section" asp-action="Delete" asp-route-id="@item.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="#solar--trash-bin-minimalistic-linear" /></svg>
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>