@using Microsoft.AspNetCore.Identity
@model ManufactureHub.Data.ApplicationUser
@inject UserManager<ApplicationUser> userManager;
@inject RoleManager<ApplicationRole> roleManager;

@{
    ViewData["Title"] = "Інформація про акаунт";
    int userId = -1;
    ApplicationRole role = new();
    if (User.Identity.IsAuthenticated)
    {
        ApplicationUser user = new();
        user = await userManager.FindByEmailAsync(User.Identity.Name);
        userId = user.Id;
        var ru = await userManager.GetRolesAsync(user);
        role = await roleManager.FindByNameAsync(ru.FirstOrDefault());
    }
}
<div class="container">
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="hstack">
@*                    <img src="~/AvatarsImages/@Model.ProfilePicture"/>*@
                    <div class="col text-center">
                        <h2 class="fw-bold">@Model.Name @Model.SurName @Model.PatronymicName</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-4 align-self-center text-center" style="max-width: 250px;">
                    <img class="img-fluid" src="~/@Model.ProfilePicture"/>
                </div>
                <div class="col-8">
                    <div class="card-text">
                        <p>ПІБ: @Model.Name @Model.SurName @Model.PatronymicName</p>
                        <p>Роль у системі: @role.RoleName;</p>
                        <p>Пошта: @Model.Email</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    @if (userId == Model.Id || User.IsInRole("Admin") || User.IsInRole("HeadFacility"))
                    {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id" asp-route-userName="@User.Identity.Name">Відредагувати</a>
                        <a class="btn btn-success" asp-action="ForgotPassword">Змінити пароль</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id" asp-route-userName="@User.Identity.Name">Видалити акаунт</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
