@model ManufactureHub.Models.SectionViewModel

@{
    ViewData["Title"] = "Інформація про секцію";

    var teamleadIdSection = Model.IdTeamLead;
    var teamLeadinfo = Model.Users.FirstOrDefault(u => u.Id == teamleadIdSection);
    // if (Model.Workstation is null) throw new Exception("Work fuck");
    // if (teamLeadinfo is null) throw new Exception("Lead fuck");

}
<div class="container">
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="hstack">
                    <div class="col text-center" style="background-color: @Model.PrimaryColor">
                        <h2 class="fw-bold">@Model.Name</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    @* col-8 *@
                    <div class="card-text">
                        <p>Назва секції: @Model.Name</p>
                        <p>Опис секції: @Model.Description</p>
                        <p>Назва цеху до якого відноситься секція: <a asp-controller="Workstation" asp-action="Details" asp-route-id="@Model.WorkstationId">@Model.Workstation.Name</a></p>
                        <p>TeamLead секції: @teamLeadinfo.Name @teamLeadinfo.SurName @teamLeadinfo.PatronymicName</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    @if (User.IsInRole("Admin") || User.IsInRole("HeadFacility") || User.IsInRole("TeamLeadWorkstation"))
                    {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id" asp-route-userName="@Model?.Name">Відредагувати</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id" asp-route-userName="@Model?.Name">Видалити секцію</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h3>Список співробітників секції</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        ПІБ
                                    </th>
                                    <th>
                                        Позиція
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users)
                                {
                                    <tr>
                                        <td>
                                            <a class="link-opacity-75-hover" asp-area="" asp-controller="Account" asp-action="Details" asp-route-id="@item.Id">
                                                @item.SurName @item.Name @item.PatronymicName
                                            </a>
                                        </td>
                                        <td>
                                            @item.Position
                                        </td>
                                        @if (User.IsInRole("Admin") || User.IsInRole("HeadFacility") || User.IsInRole("TeamLeadWorkstation"))
                                        {
                                            <td>
                                                <a class="text-decoration-none" asp-controller="Account" asp-action="Edit" asp-route-id="@item.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="#solar--pen-new-square-bold" /></svg>
                                                </a>
                                                <a class="text-decoration-none" asp-controller="Account" asp-action="Details" asp-route-id="@item.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="#solar--info-circle-bold" /></svg>
                                                </a>
                                                <a class="text-decoration-none" asp-controller="Account" asp-action="Delete" asp-route-id="@item.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="#solar--trash-bin-minimalistic-linear" /></svg>
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h3>Список тасків</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Назва
                                    </th>
                                    <th>
                                        Кінцева дата здачи
                                    </th>
                                    <th>
                                        Пріоритет
                                    </th>
                                    <th>
                                        Статус
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Tasks)
                                {
                                    <tr>
                                        <td>
                                            <a class="link-opacity-75-hover" asp-area="" asp-controller="Task" asp-action="Details" asp-route-id="@item.Id">
                                                @item.Name
                                            </a>
                                        </td>
                                        <td>
                                            @item.Deadline.ToString("d")
                                        </td>
                                        <td>
                                            @item.Priority.ToString()
                                        </td>
                                        <td>
                                            @item.StatusTask.ToString()
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
