@model ManufactureHub.Models.TaskViewModel

@{
    ViewData["Title"] = "Інформація";
}

<div class="container">
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="hstack">
                    <div class="col text-center">
                        <h2 class="fw-bold">@Model.Name</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    @* col-8 *@
                    <div class="card-text">
                        <p>Назва таску: @Model.Name</p>
                        <p>Опис таску: @Model.Description</p>
                        <p>Кінцевий срок виконання: @Model.Deadline.ToString("d")</p>
                        <p>Дата створення: @Model.Created</p>
                        <p>Пріоритет: @Model.Priority</p>
                        <p>Статус: @Model.StatusTask.ToString()</p>
                        <p>Секція виконавців: <a asp-controller="Section" asp-action="Details" asp-route-id="@Model.SectionId">@Model.Section.Name</a></p>
                        @if (Model.FileUrl != null)
                        {
                            <div class="hstack">
                                <p>Скачати допоміжні файли </p>
                                <a class="btn btn-warning" asp-action="DownloadFile" asp-route-fileName="@Model.FileUrl" download role="button">Скачати</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    @if (User.IsInRole("Admin") || User.IsInRole("TeamLeadWorkstation"))
                    {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Відредагувати</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Видалити завдання</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
